.container_filtres {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
}

.filtres {
  padding-left: 0px;
}

.title_filtres {
  margin-bottom: 15px;
}

.filtres li {
  margin-bottom: 15px;
}

/* ======== SectionDeux ======== */
.sectiondeux {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  order: 2;
  padding-left: 0;
  padding-right: 0;
}
/* ======== Section Les plus populaires ======== */
aside {
  margin-left: 0px;
  margin-bottom: 40px;
  width: 100%;
}

.cards_lesPlusPopulaires {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card_populaires {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  max-width: 300px;
  height: 150px;
  margin: 1rem;
}

.card_populaires img {
  border-radius: 20px 0px 0px 20px;
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.card_populaires .figcaption {
  height: 130px;
}

.card_populaires .img_titre {
  font-size: 14px;
}

.card_populaires .img_sous_titre {
  font-size: 10px;
}

.card_populaires .stars i {
  font-size: 12px;
}

/* ======== Activités SectionTrois======== */
@media screen and (max-width: 1150px) {
  .col_big,
  .col_2,
  .col_4 {
    width: 40%;
    margin-bottom: 40px;
  }

  .gallery_activites {
    justify-content: space-around;
  }

  .col_2_img_1 {
    height: 45%;
  }

  .col_2_img_2 {
    height: 45%;
  }

  .col_big:nth-of-type(2n) {
    order: 1;
  }
  .col_2_img_2 img {
    height: 76%;
  }
}

/* ======== Footer ======== */
.container_footer {
  width: 90%;
}
