@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway_Bold";
  src: url("assets/fonts/static/Raleway-Bold.ttf");
}

* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.header,
.sectiondeux,
.sectionUn,
.sectiontrois {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* ======== Header ======== */
.header {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logo {
  width: 70vw;
}

.logo img {
  height: 50px;
}

.navMenu {
  display: flex;
}

.navMenu a {
  padding: 20px;
}

.header a {
  text-decoration: none;
  border-top: solid 2px transparent;
  transition: 0.3s;
  color: black;
}

.nav1:hover,
.nav2:hover,
.login:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.login span {
  color: #0065fc;
  font-family: "Raleway_Bold", sans-serif;
}

.login {
  padding: 20px;
}

/* ======== EO Header ======== */
/* ======== SectionUn ======== */
/* ======== Form Section ======== */
section h1 {
  font-family: "Raleway_Bold";
  font-size: 18px;
  margin-top: 20px;
}

.sous_titre {
  font-size: 14px;
}

.search_form {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.map_icon {
  padding: 0.9rem;
  border-radius: 12px 0px 0px 12px;
  background-color: #f2f2f2;
}

.Seach_btn {
  border: 0px transparent;
  border-radius: 0px 12px 12px 0px;
  background-color: #0065fc;
  color: white;
  padding: 0.5rem;
}
.search_icon {
  display: none;
}

.search_input {
  padding: 0.5rem;
  border: 1px solid #f2f2f2;
  margin-right: -6px;
  margin-left: -6px;
  font-family: "Raleway_Bold", sans-serif;
}
/* ======== EO Form Section ======== */
/* ======== Filtres ======== */
.container_filtres {
  display: flex;
  align-items: center;
}

.filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding-left: 20px;
}

.filtre {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.title_filtres {
  font-weight: bold;
}

.filtres li {
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  padding: 0px 10px 0px 0px;
  font-weight: bold;
  margin-right: 20px;
  list-style-type: none;
}

.filtres i:hover {
  color: black;
}

.filtres i {
  color: #0065fc;
  background-color: #deecff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.a {
  text-decoration: none;
  color: black;
}

.container_info {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container_info i {
  border: solid #f2f2f2 2px;
  border-radius: 50%;
  padding: 5px 8px 5px 8px;
  margin-right: 10px;
  color: #0065fc;
  font-size: 8px;
}

/* ======== EO SectionUn ======== */
/* ======== SectionDeux ======== */
.sectiondeux {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

article,
aside {
  background-color: #f2f2f2;
  border-radius: 20px;
}

/* ======== Section hebergement ======== */
article {
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.titleHebergement {
  font-size: 18px;
  margin-left: 30px;
  margin-top: 44.94px; /*Pour egaliser avec le titre lespluspopulaires car le h2 est dans une div qui a un margin-top de 14,97px*/
  font-weight: bold;
}

.afficherPlus {
  margin-left: 30px;
  font-weight: bold;
}

.cards_hebergements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards_hebergements a {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  width: 100%;
  max-width: 300px;
  height: 230px;
  margin: 1rem;
}

.cards_hebergements a:hover {
  box-shadow: none;
}

.a img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.figcaption_card_herbergement {
  line-height: 1.3em;
  margin-left: 15px;
  margin-top: 5px;
}

.figcaption_card_herbergement span:nth-child(1) {
  font-weight: bold;
}

.img_titre {
  font-size: 18px;
  font-weight: bold;
}

.img_sous_titre {
  font-size: 14px;
}

.price {
  font-weight: bold;
}

.stars i {
  color: #0065fc;
}
.star--over {
  color: #f2f2f2;
}

/* ======== Section Les plus populaires ======== */
aside {
  margin-left: 60px;
  padding-bottom: 20px;
}

.titleLesPlusPopulaires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 30px;
}

.titleLesPlusPopulaires h2 {
  font-size: 18px;
  font-weight: bold;
}

.cards_lesPlusPopulaires a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_populaires {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  width: 80%;
  min-width: 300px;
  height: 175px;
  margin: 1rem;
}

.card_populaires:hover {
  box-shadow: none;
}

.card_populaires img {
  border-radius: 20px 0px 0px 20px;
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.card_populaires .figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 1.4em;
  overflow-wrap: break-word;
  height: 150px;
}

/* ======== EO SectionDeux ======== */
/* ======== Activités SectionTrois ======== */
.sectiontrois {
  margin-top: 50px;
}

.sectiontrois h2 {
  margin-bottom: 30px;
}

.gallery_activites {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.titleActivites {
  font-weight: bold;
  font-size: 18px;
}

.col_big,
.col_2,
.col_4 {
  width: 22%;
  margin-bottom: 20px;
  height: 500px;
}

.sectiontrois a {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  text-decoration: none;
}

.sectiontrois a:hover {
  box-shadow: 3px 3px 10px #dde5f3;
}

.sectiontrois img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.col_4_img_1 img,
.col_2_img_1 img {
  height: 80%;
}

.col_2_img_2 img {
  height: 69%;
}

.col_4_img_1 img {
  height: 76%;
}

.titre_du_bas {
  font-weight: bold;
  color: #000;
  min-height: 50px;
  padding: 2px 16px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
}

.col_2,
.col_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col_2_img_1 {
  height: 55%;
}

.col_2_img_2 {
  height: 35%;
}

.col_4_img_1 {
  height: 45%;
}

.col_4_img_2 {
  height: 45%;
}

/* ======== EO Activités ======== */
/* ======== Footer ======== */
footer {
  background-color: #f2f2f2;
  padding: 30px;
  /* height: 150px; */
  margin-top: 50px;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 50px;
  line-height: 2em;
}

.footer .column {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Raleway_Bold";
  font-size: 1.2em;
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}
