@font-face {
  font-family: "Raleway";
  src: url("fonts/static/Raleway-Regular.ttf");
}
/* 
@font-face {
    font-family: 'Raleway-Bold';
    src: url('fonts/static/Raleway-Bold.ttf');
} */

* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

header,
section {
  width: 90%;
  margin: auto;
}

/* ======== Header ======== */
.header {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logo {
  width: 70vw;
}
.logo img {
  height: 50px;
  padding: 20px 20px 20px 0px;
}

.navMenu {
  display: flex;
}

.navMenu a {
  padding: 20px;
}

.header a {
  text-decoration: none;
  border-top: solid 2px transparent;
  transition: 0.3s;
  color: black;
}

.nav1:hover,
.nav2:hover,
.login:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.login {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
  color: #0065fc;
  /* font-family: 'Raleway-Bold' !important; */
}

/* ======== EO Header ======== */
/* ======== SectionUn ======== */
/* ======== Form Section ======== */
section h2:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}

.sous_titre {
  font-size: 14px;
}

.search_form {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.map_icon {
  padding: 0.9rem;
  border-radius: 12px 0px 0px 12px;
  background-color: #f2f2f2;
}

.Seach_btn {
  border: 0px transparent;
  border-radius: 0px 12px 12px 0px;
  background-color: #0065fc;
  color: white;
  padding: 0.5rem;
}
.search_icon {
  display: none;
}

.search_input {
  padding: 0.5rem;
  border: 1px solid #f2f2f2;
  margin-right: -6px;
  margin-left: -6px;
}
/* ======== EO Form Section ======== */
/* ======== Filtres ======== */
.filtres {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}

.filtre {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.filtres li {
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  padding: 0px 10px 0px 0px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.filtres i:hover {
  color: black;
}
.filtres i {
  color: #0065fc;
  background-color: #deecff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.title_filtres {
  border: none !important;
}

.a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.flex i {
  border: solid #f2f2f2 2px;
  border-radius: 50%;
  padding: 5px 8px 5px 8px;
  margin-right: 10px;
  color: #0065fc;
  font-size: 8px;
}

/* ======== EO SectionUn ======== */
/* ======== SectionDeux ======== */
.sectiondeux {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

article,
aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
}

/* ======== Section hebergement ======== */
article {
  flex: 2;
}

.titleHebergement,
.sectiondeux h3 {
  margin-left: 20px;
}

.hebergements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hebergements a {
  /* width: 33%;
  min-width: 300px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  width: 28%;
  min-width: 300px;
  height: 230px;
  margin: 1rem;
}
/* 
.card_hebergement {
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  width: 28%;
  min-width: 300px;
  height: 230px;
  margin: 1rem;
} */

.a img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hebergements a figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 80px;
  width: 100%;
  line-height: 1.4em;
  overflow-wrap: break-word;
  padding: 5px;
}

figcaption span:nth-child(1) {
  font-weight: bold;
}

.img_titre {
  font-size: 18px;
}
.img_sous_titre {
  font-size: 14px;
}

.price {
  font-weight: bold;
}

.stars i {
  color: #0065fc;
}

/* ======== Section Les plus populaires ======== */
aside {
  flex: 1;
  margin-left: 40px;
}

.titleLesPlusPopulaires {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.lesPlusPopulaires a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_populaires {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  padding: 3px;
  width: 80%;
  min-width: 300px;
  height: 175px;
  margin: 1rem;
}

.card_populaires img {
  border-radius: 20px 0px 0px 20px;
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.card_populaires figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  line-height: 1.4em;
  overflow-wrap: break-word;
  height: 153px;
}

/* ======== EO SectionDeux ======== */
/* ======== EO Activités ======== */
.sectiontrois {
  margin-top: 50px;
}

.sectiontrois h2 {
  margin-bottom: 30px;
}
.gallery_activites {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col_big,
.col_2,
.col_4 {
  width: 22%;
  margin-bottom: 20px;
}

.sectiontrois a {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #9da2ab;
  text-decoration: none;
}

.sectiontrois img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.titre_du_bas {
  font-family: "Raleway-Bold";
  color: #000;
  min-height: 50px;
  padding: 2px 16px;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
}

.col_2,
.col_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col_2_img_1 {
  height: 55%;
}

.col_2_img_2 {
  height: 35%;
}

.col_4_img_1 {
  height: 45%;
}

.col_4_img_2 {
  height: 45%;
}

@media screen and (max-width: 1150px) {
  .col_big,
  .col_2,
  .col_4 {
    width: 40%;
    margin-bottom: 40px;
  }
  .gallery_activites {
    justify-content: space-around;
  }

  .col_2_img_1 {
    height: 45%;
  }

  .col_2_img_2 {
    height: 45%;
  }

  .col_4_img_1 {
    height: 45%;
  }

  .col_4_img_2 {
    height: 45%;
  }

  .col_big:nth-of-type(2n){
    order: 1;
  }
}
/* ======== EO Activités ======== */
/* ======== Footer ======== */
footer {
  background-color: #f2f2f2;
  height: 500px;
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .gallery_activites a {
    flex-direction: column;
    height: 100%;
  }
  .sectiontrois .col_big {
    width: 87%;
    height: 230px;
    margin-bottom: 32px;
  }
  .col_4,
  .col_2,
  .col_big {
    width: 87%;
    height: 250px;
    margin-bottom: 200px;
  }

  .col_big:nth-of-type(2n) {
    margin-top: 110px;
  }
  .col_2_img_1,
  .col_2_img_2,
  .col_4_img_1,
  .col_4_img_2 {
    height: 230px;
    margin-bottom: 30px;
  }
  .col_big:nth-of-type(2n){
    order: 0;
  }
}
